@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #C6DDF0;
    --secondary-color: #577590;
    --accent1-color: #F9CB40;
    --accent2-color: #0b132b;

    --heading-font: 'Caveat Brush', cursive;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #577590;
    --nav-link-color: #F9CB40;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0b132b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 5px solid #000;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.logo {
    height: auto;
    order: 0;
    display: flex;
    padding: 1rem;
    max-width: 150px;
    height: auto;
}

header nav a {
    color: var(--nav-background-color);
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid var(--nav-background-color);
}
    

p {
    padding:25px;
    font-family: var(--paragraph-font);
    color: #000;
}

main {
    max-width: 840px;
    background-color: var(--secondary-color);
}

.hero div {
    position: relative;
    float: left;
}

.hero img {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.hero h1 {
    position: absolute;
    left: 40rem;
    bottom: 400px;
}

.hero article {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    opacity: .8;
    bottom: 200px;
    left: 22.25rem;
    max-width: 809px;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    border-top:5px solid #000;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    max-width: 840px;
}

footer nav a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    text-decoration-line: none;
    justify-content: center;
    align-content: center;
}

/*Class Selectors*/

.links{
    text-decoration: none;
}

.history-section h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.history p {
    border: 2px solid #000;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
    opacity: .6;
}

.adventure h2, h2 , h3 , h1{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.master h3 , .master h2 {
    color: grey;
}

.adventure-images figure , .employees figure, .trips figure , .home figure{
    display: block;
    order: 1;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.adventure-images {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 100px 100px;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 5px;
}
.employees {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 150px;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 5px;
}

.trips {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 380px;
    justify-content: space-evenly;
    align-content: center;
}

.book-buttons {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-evenly;
}

.big img {
    display: flex;
    width: 100%;
    height: 400px;
    padding: 1rem;
}

.big h1 {
    position: absolute;
    left: 680px;
    bottom: 500px;
    font-size: 2em;
}

.start h1 {
    position: absolute;
    left: 620px;
    bottom: 480px;
    font-size: 2em;
}

.start img {
    display: flex;
    width: 100%;
    height: auto;
}

.home {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 150px;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 5px;
}

.adventure figcaption, .employees figcaption , .trips figcaption , .home figcaption {
    display: flex;
    order: 2;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 2px solid #000;
    padding: 20px;
    background-color: var(--primary-color);
    opacity: .9;
}

.trips figcaption {
    height: 300px;
}

.tripnav a {
    text-decoration: none;
    display:flex;
    justify-content: center;
    border: 2px solid #000;
    margin-bottom: 20px;
    margin-left:80px;
    margin-right: 80px;
    padding: 10px;
    color: #000;
    background-color: var(--accent1-color);
    font-size: 1.5em;
}

figcaption {
    font-family: var(--paragraph-font);
    color: var(--accent2-color)
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 800px;
    margin: 20px;
}

thead, th{
    background-color: lightsteelblue;
}

td {
    background-color: var(--accent1-color);
}

 th, td {
    padding: 0.5rem;
 }

 caption {
    font-weight: 700;
 }

.grid {
    display: grid;
    align-items: center;
}

.company-info {
    width: 260px;
    height: 700px;
    margin: 0 auto;
    background-color: lightsteelblue;
    display: grid;
    border: 3px solid #000;
}

.fillout {
    width: 580px;
    height: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: lightsteelblue;
    display: grid;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
}

.sign-up {
    width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #000;
    border-radius: 2rem;
    background-color: lightsteelblue;
    display: grid;
}

button {
    margin: 1rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: .3rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: aliceblue;
    color: #000;
}

.big button , .tripsbutton button{
    width: 800px;
}

label, input, button, select, textarea{
    font-family: 'Poppins', sans-serif;
}

.master {
    display: flex;
}

.map {
    display: grid;
    justify-self: center;
    padding-bottom: 10px;
}