@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@200&display=swap');

:root{
    --primary-color: #C6DDF0;
    --secondary-color: #577590;
    --accent1-color: #F9CB40;
    --accent2-color: #0b132b;

    --heading-font: 'Caveat Brush', cursive;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: #577590;
    --nav-link-color: #F9CB40;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0b132b;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
}

p{
    padding:25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}